.body {
    background-image: linear-gradient(black,red);
    color: white;
    height: 800px;
    font-family:Arial, Helvetica, sans-serif;
}

.inputinfo {
    display:flex;
    color: white;
}
.bigheader {
    color: white;
    padding-right: 500px;
    padding-top: 20px;
    align-items: center;
    font-size: 50px;
    margin-left: 100px;
    font-weight: bold;
}
.recommendations {
    color: red;
    padding-right: 500px;
    align-items: center;
    font-size: 50px;
    margin-left: 100px;
    font-weight: bold;
    padding-bottom: 70px;

}
.input {
    padding-left: 100px;
    color: white;
}

.musicinfoinput {
    vertical-align: center;
    color: white;
}

.info {
    padding-left: 150px;
    padding-top: 20px;
}
.inputforms {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.artistinput {
    width: 400px;
    margin-bottom: 20px;
    border-color: red;
    border-width: 3px;
    border-radius: 7px;
    height: 40px;
}
.genreinput {
    width: 400px;
    margin-bottom: 20px;
    border-color: red;
    border-width: 3px;
    border-radius: 7px;
    height: 40px;
}
.albuminput {
    width: 400px;
    margin-bottom: 20px;
    border-color: red;
    border-width: 3px;
    border-radius: 7px;
    height: 40px;
}
.extraspace {
    margin-bottom: 35px;
    display: block;
}
.directions {
    font-weight: bold;
    font-size: 25px;
}
.resetbutton {
    border: none;
    border-color: #000000;
    width: 200px;
    transition-duration: .4s;
    height: 40px;
    background-color: black;
    color: white;
}
.resetbutton:hover {
    background-color: gray;
}
